<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/externo/Padrao">
<head>



<title>BuscaProfissa-Categorias</title>

      

</head>


<div layout:fragment="conteudo" id="conteudoCategorias">


	<!-- begin -->
	<section class="py-5">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-auto container-areas">
					<div class="ibox">
						<div class="ibox-title">
							<h5>
								BuscaProfissa -<small> Ramos de trabalho</small>
							</h5>
						</div>
						<div class="ibox-content">

							<div class="row">
								<div class="col-lg-2">
									<div class="panel panel-default">
										<div class="panel-body text-center">
											<a href="#assistencia" data-toggle="tooltip"
												data-placement="right" title="Assistencia tecnica"> <img
												vspace="15px" hspace="15px" width="100px" height="100px"
												th:src="@{images/categorias/assistenciatecnica.png}" /></a>
										</div>

									</div>
								</div>
								<div class="col-lg-2">
									<div class="panel panel-default">
										<div class="panel-body text-center">
											<a href="#aulas" data-toggle="tooltip" data-placement="right"
												title="Aulas"> <img vspace="15px" hspace="15px"
												width="100px" height="100px"
												th:src="@{images/categorias/aulas.png}" />
											</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="panel panel-default">
										<div class="panel-body text-center">
											<a href="#automovel" data-toggle="tooltip"
												data-placement="right" title="Autos"> <img
												vspace="15px" hspace="15px" width="100px" height="100px"
												th:src="@{images/categorias/autos.png}" />
											</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="panel panel-default">
										<div class="panel-body text-center">
											<a href="#construcao" data-toggle="tooltip"
												data-placement="right" title="Construção e reforma"> <img
												vspace="15px" hspace="15px" width="100px" height="100px"
												th:src="@{images/categorias/construcaoereforma.png}" />
											</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="panel panel-default">
										<div class="panel-body text-center">
											<a href="#colsultoria" data-toggle="tooltip"
												data-placement="right" title="Consultoria e Projetos"> <img
												vspace="15px" hspace="15px" width="100px" height="100px"
												th:src="@{images/categorias/consultoriaeprojetos.png}" />
											</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="panel panel-default">
										<div class="panel-body text-center">
											<a href="#esporte" data-toggle="tooltip"
												data-placement="right" title="Esportes"> <img
												vspace="15px" hspace="15px" width="100px" height="100px"
												th:src="@{images/categorias/esportes.png}" />
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-2">
									<div class="panel panel-default">
										<div class="panel-body text-center">
											<a href="#eventos" data-toggle="tooltip"
												data-placement="right" title="Eventos"> <img
												vspace="15px" hspace="15px" width="100px" height="100px"
												th:src="@{images/categorias/eventos.png}" />
											</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="panel panel-default">
										<div class="panel-body text-center">
											<a href="#fotografia" data-toggle="tooltip"
												data-placement="right" title="Fotografia"> <img
												vspace="15px" hspace="15px" width="100px" height="100px"
												th:src="@{images/categorias/fotografia.png}" />
											</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="panel panel-default">

										<div class="panel-body text-center">
											<a href="#modaebeleza" data-toggle="tooltip"
												data-placement="right" title="Moda e Beleza"> <img
												vspace="15px" hspace="15px" width="100px" height="100px"
												th:src="@{images/categorias/modaebeleza.png}" />
											</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="panel panel-default">

										<div class="panel-body text-center">
											<a href="#saude" data-toggle="tooltip" data-placement="right"
												title="Saúde"> <img vspace="15px" hspace="15px"
												width="100px" height="100px"
												th:src="@{images/categorias/saude.png}" />
											</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="panel panel-default">

										<div class="panel-body text-center">
											<a href="#domesticos" data-toggle="tooltip"
												data-placement="right" title="Serviços Domésticos"> <img
												vspace="15px" hspace="15px" width="100px" height="100px"
												th:src="@{images/categorias/servicosdomesticos.png}" />
											</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="panel panel-default">

										<div class="panel-body text-center">
											<a href="#tecnologia" data-toggle="tooltip"
												data-placement="right" title="Tecnologia"> <img
												vspace="15px" hspace="15px" width="100px" height="100px"
												th:src="@{images/categorias/tecnologia.png}" />
											</a>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>

	</section>
	<!-- end -->
	<div class="container-fluid mt-30 ibox-content">
		<div class=" container mt-30" id="assistencia">
			<div class="row" >
				<div class="ibox-title col-lg-12"  >
					<h3 style="text-align: center">Assistencia
						Tecnica</h3>
				</div>
			</div>
			<div class="row">
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=&categoria=2&cidade=}">Assistencia Tecnica em Notebooks/PC</a>
					</div>
				
			</div>
			
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=&categoria=3&cidade=}">Assistencia Tecnica em Eletros</a>
					</div>
			
		</div>
		
		<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=&categoria=4&cidade=}">Outros - Assistencia Tecnica</a>
					</div>
			
		</div>
		
		
		
		</div>
		<div class=" container mt-30">


			<div class="row">
				<div class="ibox-title col-lg-12">
					<h3 id="aulas" style="text-align: center">Aulas</h3>
				</div>
			</div>
			<div class="row">
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=2&categoria=5&cidade=}">Concursos </a>
					</div>
					
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=2&categoria=6&cidade=}">Idiomas</a>
					</div>
					
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=2&categoria=7&cidade=}">Outros - Aulas</a>
					</div>
					
				
				</div>
			</div>
		</div>
		<div class=" container mt-30">
			<div class="row">
				<div class="ibox-title col-lg-12">
					<h3 id="automovel" style="text-align: center">Autos</h3>
				</div>
			</div>
			<div class="row">
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=3&categoria=10&cidade=}">Som Automotivo</a>
					</div>
					
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=2&categoria=11&cidade=}">Personal Car</a>
					</div>
				
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=2&categoria=12&cidade=}">Outros - Autos</a>
					</div>
				</div>
			</div>
		</div>
		<div class=" container mt-30">

			<div class="row">
				<div class="ibox-title col-lg-12">
					<h3 id="construcao" style="text-align: center">Obras e
						Reforma</h3>
				</div>
			</div>
			<div class="row">
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" href="#">Arquiteto</a>
					</div>
					
						<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=4&categoria=13&cidade=}">Encanador</a>
					</div>
					
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=2&categoria=16&cidade=}">Pintor</a>
					</div>
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=2&categoria=17&cidade=}">Outros - Obra e Reformas</a>
					</div>
					
					
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=4&categoria=14&cidade=}">Eletricista</a>
					</div>
					
				</div>
			</div>
		</div>
		
		
		
		
		
		
		<div class=" container mt-30">


			<div class="row">
				<div class="ibox-title col-lg-12">
					<h3 id="category-5" style="text-align: center">Design e
						Tecnologia</h3>
				</div>
			</div>
			<div class="row">
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=6&categoria=22&cidade=}">Web Designer</a>
					</div>
					
						<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=12&categoria=1&cidade=}">Programador</a>
					</div>
					
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=12&categoria=46&cidade=}">Outros - Tecnologia</a>
					</div>
					
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=6&categoria=23&cidade=}">Designer</a>
					</div>
						<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=6&categoria=25&cidade=}">Outros - Design</a>
					</div>
					
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=6&categoria=24&cidade=}">Editor de Fotos</a>
					</div>
					
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=12&categoria=8&cidade=}">Analista T.I</a>
					</div>
					
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=12&categoria=8&cidade=}">Infraestrutura de Redes</a>
					</div>
					
				
				
				</div>
			</div>
		</div>
		<div class=" container mt-30">


			<div class="row">
				<div class="ibox-title col-lg-12">
					<h3 id="esporte" style="text-align: center">Esportes</h3>
				</div>
			</div>
			<div class="row">
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link"th:href="@{/buscar?areaAtuacao=7&categoria=26&cidade=}">Artes Marciais</a>
					</div>
					
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=7&categoria=27&cidade=}">Futebol</a>
					</div>
					
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=7&categoria=28&cidade=}">Personal Trainer</a>
					</div>
					
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=7&categoria=29&cidade=}">Outros - Esportes</a>
					</div>
				
				</div>
			</div>
		</div>
		<div class=" container mt-30">
			<div class="row">
				<div class="ibox-title col-lg-12">
					<h3 id="eventos" style="text-align: center">Eventos</h3>
				</div>
			</div>
			<div class="row">
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=8&categoria=30&cidade=}">Animador de festa</a>
					</div>
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=8&categoria=31&cidade=}">DJ</a>
					</div>
					
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=8&categoria=32&cidade=}">Cerimonialista</a>
					</div>
					
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=8&categoria=33&cidade=}">Outros - Eventos</a>
					</div>
					
				</div>
			</div>
		</div>
		<div class=" container mt-30">
			<div class="row">
				<div class="ibox-title col-lg-12">
					<h3 id="modaebeleza" style="text-align: center">Moda e Beleza</h3>
				</div>
			</div>
			<div class="row">
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=9&categoria=34&cidade=}">Cabeleireiro</a>
					</div>
				
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=9&categoria=35&cidade=}">Manicure</a>
					</div>
					
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=9&categoria=37&cidade=}">Outros - Moda e Beleza</a>
					</div>
				
				</div>
			</div>
		</div>
		<div class=" container mt-30">
			<div class="row">
				<div class="ibox-title col-lg-12">
					<h3 id="saude" style="text-align: center">Saude</h3>
				</div>
			</div>
			<div class="row">
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=10&categoria=38&cidade=}">Acompanhante de Idosos</a>
					</div>
					
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=10&categoria=40&cidade=}">Pilates</a>
					</div>
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=10&categoria=41&cidade=}">Outros - Saude</a>
					</div>
				
				</div>
			</div>
		</div>
		<div class=" container mt-30">


			<div class="row">
				<div class="ibox-title col-lg-12">
					<h3 id="domesticos" style="text-align: center">Trabalhos
						Domesticos</h3>
				</div>
			</div>
			<div class="row">
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=11&categoria=42&cidade=}">Dedetizador(a)</a>
					</div>
					
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=11&categoria=43&cidade=}">Diarista</a>
					</div>
					
				</div>
				<div class="ibox-content col-lg-4">
					<div class="alert alert-info">
						<a class="alert-link" th:href="@{/buscar?areaAtuacao=11&categoria=45&cidade=}">Outros - Trabalhos Domesticos</a>
					</div>
				
				</div>
			</div>
		</div>
	</div>
</div>
</div>


</html>
