#center-conteiner{
	align: center;
	padding: 10px 10px;
	border-radius: 25px;
	background-color: rgb(225,225,225);
	height: 450px;
	width: 300px;
}
#box-termo{
	width: 300px;
}
#conteiner{
	align: center;
	padding: 10px 10px;
	border-radius: 25px;
	background-color:rgb(225,225,225);
	height: 500px;
	width: 90%;
}
#menu{
	height: 100%;
	width: 100%;
	background-color: rgb(225,225,225);
}
p{
	font-size: 10px;
}