
.container-areas{
	 width: 1125px;
	align:center;
	margin-top: 50px;

}

.form-cadastro-inicial{
	margin-top:100px;
	width: 300px;
	align:center;
	height: 400px;
}

.rodape{
	margin-top: 100px;
	
}

