
.container-areas{
	 width: 1125px;
	align:center;
	margin-top: 50px;
	
}

.form-cadastro-inicial{
	margin-top:130px;
	width: 300px;
	align:center;
	height: 500px;
	margin-bottom: 50px;
}

.form-login{
	margin-top:130px;
	width: 300px;
	align:center;
	height: 400px;
}

.rodape{
	margin-top: 100px;
	color: graytext;
}

.bp-glyphicon-large{
	font-size: 18px;
}

.bp-field-action__icon{
	margin: 6px 0 0 5px;
}

.text-busca{
	font-family: arial;
	font-weight: 400;
}






